.sel {
	border-bottom: 8px solid rgba(0,0,0,1);
	padding-bottom: 21px;
}

a {
	color: rgba(0, 0, 0, .8);
}

a:hover {
	text-decoration: none;
}

.navwrap {
	background: #fff;
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.navwrap nav {
	display: inline-block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(40%);
  	transform: translateY(40%);
}

.navwrap ul {
	font-size: 0px;
}

.navwrap ul li {
	display: inline-block;
	font-size: 16px;
	padding: 10px;
}

.menu {
	width: 30px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(80%);
  	transform: translateY(80%);
  	display: none;
}

.imgwrap {
	background-image: url('../img/header.jpg');
	background-origin: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 720px;
	overflow: hidden;
	color: #fff;
	margin-top: 80px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.imgwrap > .container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.header {
	background: #fff;
}

.logo {
	width: 80px;
}

.header-logo-wrap {
	width: 35%;
}

.header-logo {
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
}

.mobile-nav {
	display: none;
	position: fixed;
	right: 0;
	z-index: 0;
}

.img-container {
	padding-top: 15px;
	width: 100%;
	position: relative;
}

.item {
	float: left;
	width: 25%;
	height: 0;
	padding-bottom: 25%;
	position: relative;
	cursor: pointer;
}

.item img {
	width: 100%;
}

/* === JS UTILITY CLASSES === */

.open {
	position: relative;
	right: 200px;
	z-index: 0;
}

/* === MEDIA QUERIES === */

@media only screen and (max-width : 979px) {
    .imgwrap {
		height: 500px;
	}

	/*.header-logo-wrap {
		width: 90%;
	}*/

	.item {
		width: 33.3333%;
		padding-bottom: 33.3333%;
	}

}

@media only screen and (max-width : 767px) {
	.imgwrap {
		height: 420px;
	}
	

}

@media only screen and (max-width : 645px) {
    .navwrap nav{
   		display: none;
   }

   .menu, .mobile-nav {
   		display: block;
   }

   .item {
   	width: 50%;
   	padding-bottom: 50%;
   }
   
}

@media only screen and (max-width : 480px) {
	.header-logo-wrap {
		width: 50%;
	}

	.imgwrap {
		height: 320px;
	}

	.img-container {
		padding: 0;
	}

	.item {
		width: 100%;
		padding-bottom: 100%;
	}
}

@media only screen and (max-width : 320px) {
   
}